---
import { Image } from "astro:assets";
import banner from "../assets/banner.png";
import ButtonAnimate from "./ButtonAnimate.astro";
---

<div class="flex flex-col sm:flex-row mt-4">
    <!-- Para la parte izquierda solo texto -->
    <div class="mx-4 md:ml-8 xl:ml-28 flex items-center">
        <div class="text-center sm:text-left">
            <h1
                class="font-bold text-sky-800 text-2xl sm:text-3xl md:text-4xl xl:text-6xl"
            >
                Emite tus facturas electrónicas de manera facíl y rápida
            </h1>
            <!-- <ButtonAnimate /> -->
            <a
                href="https://facec.peterio.tech"
                aria-label="Ir al inicio de sesión de la aplicación FACEC"
                target="_blank"
            >
                <div
                    class="rounded-full w-fit bg-sky-700 shadow-lg shadow-sky-700/50 text-white md:text-xl px-8 py-2 my-8 font-bold transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-sky-700/70 animate-pulse"
                >
                    Iniciar sesión
                </div>
            </a>
            <section>
                <h2
                    class="font-bold text-sky-800 md:text-2xl lg:text-3xl py-4 mb-4"
                >
                    Factura desde cualquier parte del mundo
                </h2>
                <p class="hidden lg:block lg:text-xl text-sky-700">
                    FACEC el facturero electrónico que te permite emitir tus
                    comprobantes electrónicos desde cuaquier parte del mundo y
                    está ajustado a todos los dispositivos.
                </p>
            </section>
            <a
                href="https://facec.peterio.tech"
                aria-label="Ir al inicio de la aplicación de la aplicación FACEC"
                target="_blank"
            >
                <div
                    class="hidden w-fit lg:block rounded-full bg-sky-300 shadow-lg shadow-sky-300/50 text-white md:text-xl px-8 py-2 my-8 font-semibold transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-sky-300/70"
                >
                    Solicitar prueba
                </div>
            </a>
        </div>
    </div>
    <!-- para la parte derecha en dispositivo sm -->
    <div class="hidden sm:flex items-end">
        <Image src={banner} class="bottom-0" width={1800} alt="Banner" />
    </div>
</div>
