---
import { Image } from "astro:assets";
import appInTable from "../assets/appInTable.png";
---

<div>
    <div class="container mx-auto flex flex-col gap-4 p-8 md:flex-row">
        <!-- Primera columna -->
        <div class="sm:px-4 w-full">
            <h2 class="text-center my-8 block font-bold text-3xl text-sky-800">
                Principales características
            </h2>
            <p class="text-sky-700 mb-4 lg:text-2xl">
                FACEC es una aplicación que esta alojado en la nube, es decir
                solo necesitas de Internet para tener acceso a la aplicación:
            </p>
            <ul class="text-sky-700 ml-8 lg:text-2xl">
                <li class="list-disc">Adaptable a cualquier negocio</li>
                <li class="list-disc">
                    Envio de comprobantes por correo electrónico
                </li>
                <li class="list-disc">
                    Multi establecimientos y multi punto de emisión
                </li>
                <li class="list-disc">Intuitiva</li>
                <li class="list-disc">
                    Sin limites de comprobantes electrónicos
                </li>
                <li class="list-disc">Actualización permanente y gratis</li>
                <li class="list-disc">Aplicación escalable</li>
                <li class="list-disc">Reportes en Excel y PDF</li>
                <li class="list-disc">Adaptable a cualquier dispositivo</li>
            </ul>
        </div>
        <!-- Segunda columna -->
        <div class="w-full">
            <div class="flex h-full items-center">
                <Image
                    src={appInTable}
                    class="w-full"
                    alt="Aplicación en tablet"
                />
            </div>
        </div>
    </div>
</div>
