<section id="faq">
    <div class="container">
        <!-- FAQ -->
        <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
            <!-- Title -->
            <div class="max-w-2xl mx-auto mb-10 lg:mb-14">
                <h2
                    class="text-2xl text-sky-800 font-bold md:text-4xl md:leading-tight"
                >
                    Quizás te estés preguntando...
                </h2>
            </div>
            <!-- End Title -->

            <div class="max-w-2xl mx-auto divide-y divide-sky-200">
                <div class="py-8 first:pt-0 last:pb-0">
                    <div class="flex gap-x-5">
                        <svg
                            class="shrink-0 mt-1 size-6 text-sky-600"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><circle cx="12" cy="12" r="10"></circle><path
                                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"
                            ></path><path d="M12 17h.01"></path></svg
                        >

                        <div class="grow">
                            <h3 class="md:text-lg font-semibold text-sky-800">
                                Como contrato facec?
                            </h3>
                            <p class="mt-1 text-sky-700">
                                Muy facíl solo debes hacer <a
                                    href="https://facec.peterio.tech"
                                    class="font-bold text-sky-800"
                                    aria-label="Ir al inicio de sesión de la aplicación FACEC"
                                    target="_blank">click aquí</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
                <div class="py-8 first:pt-0 last:pb-0">
                    <div class="flex gap-x-5">
                        <svg
                            class="shrink-0 mt-1 size-6 text-sky-600"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><circle cx="12" cy="12" r="10"></circle><path
                                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"
                            ></path><path d="M12 17h.01"></path></svg
                        >

                        <div class="grow">
                            <h3 class="md:text-lg font-semibold text-sky-800">
                                En que tiempo me habilítan?
                            </h3>
                            <p class="mt-1 text-sky-700">
                                El tiempo es inmediato una vez establecido el
                                plan y enviado los requisito se te habilita el
                                usuario para empezar a facturar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="py-8 first:pt-0 last:pb-0">
                    <div class="flex gap-x-5">
                        <svg
                            class="shrink-0 mt-1 size-6 text-sky-600"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><circle cx="12" cy="12" r="10"></circle><path
                                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"
                            ></path><path d="M12 17h.01"></path></svg
                        >

                        <div class="grow">
                            <h3 class="md:text-lg font-semibold text-sky-800">
                                Existe combos firma electrónica mas sistema de
                                facturación electrónica?
                            </h3>
                            <p class="mt-1 text-sky-700">
                                Si existe combos, incluso con descuentos si tu
                                contactas y haces conocer tus necesidades de
                                acuerdo a tu negocio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End FAQ -->
    </div>
</section>
