<section id="faq">
  <div class="container">
    <!-- FAQ -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Title -->
      <div class="max-w-2xl mx-auto mb-10 lg:mb-14">
        <h2
          class="text-2xl text-sky-800 font-bold md:text-4xl md:leading-tight"
        >
          Preguntas frecuentes
        </h2>
      </div>
      <!-- End Title -->

      <div class="max-w-2xl mx-auto divide-y divide-sky-200">
        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg
              class="shrink-0 mt-1 size-6 text-sky-600"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><circle cx="12" cy="12" r="10"></circle><path
                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path
                d="M12 17h.01"></path></svg
            >

            <div class="grow">
              <h3 class="md:text-lg font-semibold text-sky-800">
                ¿La firma es válida para el SRI?
              </h3>
              <p class="mt-1 text-sky-700">
                Sí, todas nuestras firmas electrónicas cumplen con los
                requisitos del Servicio de Rentas Internas (SRI) y demás
                instituciones públicas.
              </p>
            </div>
          </div>
        </div>
        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg
              class="shrink-0 mt-1 size-6 text-sky-600"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><circle cx="12" cy="12" r="10"></circle><path
                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path
                d="M12 17h.01"></path></svg
            >

            <div class="grow">
              <h3 class="md:text-lg font-semibold text-sky-800">
                ¿Puedo usar la firma para facturar?
              </h3>
              <p class="mt-1 text-sky-700">
                Claro. La firma en formato .p12 es compatible con cualquier
                sistema de facturación electrónica.
              </p>
            </div>
          </div>
        </div>
        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg
              class="shrink-0 mt-1 size-6 text-sky-600"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><circle cx="12" cy="12" r="10"></circle><path
                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path
                d="M12 17h.01"></path></svg
            >

            <div class="grow">
              <h3 class="md:text-lg font-semibold text-sky-800">
                ¿En cuánto tiempo recibiré mi firma?
              </h3>
              <p class="mt-1 text-sky-700">
                En promedio, entregamos tu certificado en 5 a 25 minutos
                después de recibir los requisitos y el pago.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End FAQ -->
  </div>
</section>
