<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="FACEC | Facíl de facturar" />
		<meta
			property="og:description"
			content="FACEC aplicación de facturación electrónica y emisión de firmas electrónicas al instante."
		/>
		<meta property="og:url" content="https://facec.ec/" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="../assets/og-image.png" />
		<meta
			name="description"
			content="FACEC aplicación de facturación electrónica y emisión de firmas electrónicas al instante."
		/>
		<title>FACEC | Facíl de facturar</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
